// Specific CSS for your home-page
.description-home {
background-color: $bgm-beige;
// border: solid;
border-color: $bgm-dark-beige;
// margin: 15px;
display: grid;
grid-template-columns: 1fr 1fr;
grid-gap: 2vh;
margin-top: 2vh;
}

.img-description {
  background-image: url('games/Description-jeux.png');
  color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 4px;
}

#h2-title {
margin-top: 0.4vh!important;
margin-bottom: 0.4vh!important;
}
