// Specific CSS for your home-page
.home-btn {
  margin: 15px;
  padding: 30px;
  background-color: $bgm-orange;
  color: rgba(0, 0, 0, 0.955);
  align-items: center;
  justify-items: center;
}

.cities{
  margin: 15px;
}
#lille {
  background-image: url('Lille.jpg');
}

#paris {
  background-image: url('Paris.jpg');
}

#bordeaux {
  background-image: url('Bordeaux.jpg');
}
