.avatar-large {
  width: 12vh;
  border-radius: 50%;
  margin-left: 2vh;
}

.full-name {
  display: inline-flex;
}

.full-id {
  flex-direction: column;
  display: flex;
  text-align: end;
}

.user-id-card {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-top: 2vh;
  margin-bottom: 2vh;
  position: relative;
}

.btn-group {
  bottom: 7vh;
  display: flex;
  justify-content: center;
  gap: 2vh;
  position: fixed;
  left: 0;
  right: 0;
}

.infos-color {
  max-width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.2vh;
  background-color: rgb(61, 178, 255);
  border-radius: 2vh;
  box-shadow: 0 0 1vh rgba(0, 0, 0, 0.2);
}

.informations {
  display: flex;
  justify-content: space-between;
}

h5 {
  margin: 0 !important;
}

ul {
  margin: 0 !important;
}

.user-info {
  font-size: 1rem;
  // font-weight: bolder;
  text-align: center;

  &:nth-child(0) {
    padding-top: 1.2vh;
  }
}
