<div class="banner">
  <div class="container">
    <h1>Le rendez-vous des passionnés de jeux</h1>
    <p>Que tu sois un novice mate ou un mate expert, rejoins la communauté et participe à des énèvements proche de chez toi</p>
    <%# <%= link_to "Tous les évènements", events_path, class: "btn-banner"%>
  </div>
</div>
<div class="bgm-container">
  <h1 class="h1">Catégories populaires</h1>

  <div class="cards">
    <div class="card-category", id="plateau">
      jeux de plateau
    </div>

    <div class="card-category", id="cartes">
    jeux de cartes
    </div>

    <div class="card-category", id="stratégie">
    jeux de stratégie
    </div>

    <div class="card-category", id="rôle">
      jeux de rôle
    </div>

    <div class="card-category", id="coopération">
      jeux de coopération
    </div>

    <div class="card-category", id="ambiance">
      jeux d'ambiance
    </div>

  </div>
</div>
