<div class="banner">
  <div class="bgm-container">
    <h1>Le rendez-vous des passionnés de jeux</h1>
    <p>Que tu sois un novice mate ou un mate expert, rejoins la communauté et participe à des énèvements proche de chez toi</p>
    <%= link_to "Tous les évènements", events_path, class: "btn-banner"%>
  </div>
</div>
<div class="bgm-container">
  <h1 class="h2">Catégories populaires</h1>

  <div class="cards">
    <div class="card-category", id="plateau">
       <h3>Jeux de plateau</h3>
    </div>

    <div class="card-category", id="cartes">
      <h3>Jeux de cartes</h3>
    </div>

    <div class="card-category", id="stratégie">
      <h3>Jeux de stratégie</h3>
    </div>

    <div class="card-category", id="rôle">
      <h3>Jeux de rôle</h3>
    </div>

    <div class="card-category", id="coopération">
      <h3>Jeux de coopération</h3>
    </div>

    <div class="card-category", id="ambiance">
      <h3>Jeux d'ambiance</h3>
    </div>

  </div>
</div>
