.banner {
  background-image: url('games/Banner.photo.jpg');
  background-size: cover;
  background-position: center;
  padding: 3.5vh 0;
  opacity: .6;
}

.banner h1 {

  font-family: "varela";
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 3.5vh;
  font-weight: bold;
}

.banner p {
  margin-top: 1vh;
  font-family: "arvo";
  font-size: 1.5vh;
  color: white;
  opacity: 10;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.btn-banner {
  color: white;
  border: 1px solid white;
  border-radius: 1vh;
  padding: 3vh 3vh;
  font-size: 1vh;
  font-weight: bold;
  margin-top: 3vh;
  text-decoration: none;
  display: inline-block;
}
