.card-event {
  padding: 1.2vh;
  background-color: rgb(61, 178, 255);
  border-radius: 2vh;
  box-shadow: 0 0 1vh rgba(0, 0, 0, 0.2);


  .event-infos {
    display: flex;
    justify-content: space-between;
  }

  .elements {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
  }

  .title {
    display: flex;
    justify-content: space-between;

  }

}

.g {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1vh;
}
