.card-event {

  border-radius: 1.7vh;
  box-shadow: 0 0 1vh rgba(0, 0, 0, 0.2);


  .event-infos {
    padding: 0.5vh 1.7vh 0.5vh 1.7vh;

    background: rgb(61, 178, 255);
    border-radius: 1.7vh 1.7vh 0 0;
  }

  .elements {
    padding: 1vh 1.7vh 0.5vh 1.7vh;

    color: black;

    display: flex;
    gap: 1vh;

    h4 {
      font-size: 1.2vh;
    }
  }

  .title {

    h2 {
      font-weight: bolder !important;
      font-family: "varela";
      color: black;
      text-shadow: none !important;

    }
  }

}
