.card-category {
  background-size: cover;
  background-position: center;
  height: 6vh;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0 0 1vh rgba(0, 0, 0, 0.2);
  opacity: .6;

}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2vh;
}

#Jeux-de-plateau {
  background-image: url('games/jeu_carcassonne.jpg');
}

#Jeux-de-cartes {
  background-image: url('games/jeu_love_letter.jpeg');
}

#Jeux-de-stratégie {
  background-image: url('games/jeu_scythe.jpg');
}

#Jeux-de-rôle {
  background-image: url('games/jeu_pathfinder.jpg');
}

#Jeux-de-coopération {
  background-image: url('games/hanibi_banner.jpg');
}

#Jeux-d\'ambiance {
  background-image: url('games/Dixit_banner.jpg');
}
