.card-category {
  background-size: cover;
  background-position: center;
  height: 6vh;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0 0 1vh rgba(0, 0, 0, 0.2);
  opacity: .8;

}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2vh;
}

#Jeux-de-plateau {
  background-image: url('games/jeu_scythe.jpg');
}

#cartes {
  background-image: url('boardgame_mates_banner');
}

#stratégie {
  background-image: url('boardgame_mates_banner');
}

#rôle {
  background-image: url('boardgame_mates_banner');
}

#coopération {
  background-image: url('boardgame_mates_banner');
}

#ambiance {
  background-image: url('boardgame_mates_banner');
}
