.edit {
  color: rgb(102, 102, 102);
  padding: 0.8vh;
  font-size: 1.8vh;
  position: absolute;
  bottom: 0;
  right: 0;
}

.edit-img {
  background-color: rgb(204, 204, 204);
  border-radius: 50%;
  border: 0.2vh solid #fff6ed;
}
